<% include partials/header%>
<div class="blog-wrap">
<%blogs.forEach(function(blog){ %>
  <div class="a-blog ui segment">
    <div class="blog-head">
        <a class="ui" href="/blogs/<%=blog._id %>">
          <h3> <%= blog.title%> </h3>
        </a>
    </div>
    <div class="blog-img inl">
      <img src="<%= blog.image%>" alt="image" height="100px">
    </div>
    <div class="blog-body inl">
      <p> <%= blog.body.substring(0,100) %>
        <% if(blog.body.length > 100){%>
            ...
        <% } %>
      </p>
      <a href="/blogs/<%=blog._id %>">read more</a>
      <div class="blog-date">
          <p><em><%= blog.date.toDateString()%></em></p>
      </div>
    </div>

  </div>


<% }) %>
</div>

<% include partials/footer%>
